<%- include("header.ejs") -%>
    <div class="box" id="heading">
        <h1><%= date %></h1>
    </div>

    <div class="box">  
        <% for(var i =0; i < toDoItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= toDoItems[i] %></p>
            </div>
        
        <% } %>
        <form action="/" class="class" method="POST">
            <input type="text" name="Fname" placeholder="First name" autocomplete="off">
            <input type="text" name="Pnumber" placeholder="Phone number" autocomplete="off">
            <br>
            <button type="submit">+</button>
        </form>
    </div>
<%- include("footer.ejs")-%>